<div class="jumbotron text-center">
    <h1>A <span class="text-info">Revolution</span> in Education.</h1>
    <p>This is what <span class="text-danger">defines</span> us.</p>
    <p>Our main purpose is to make education a <b>free</b> resource.It's not just another how to's blog. Instead, we direct all our efforts in achieving our target which is to equalise everyone in terms of education. A <b>race</b> is called a race when everyone gets a fair chance to win. While designing EduKranti, it's specially kept in mind that it's simple, fast, free and shouldn't require any sign up to access. Apart from that content is our soul. <b>Best</b> of the best way has been used to develop one's interest into the topic. Now it's left up to you to decide. If you really appreciate our efforts, please like us on <a href="https://www.facebook.com/rarkmechanix" target="_blank">facebook</a>.</p>
</div>
